<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-header">
          <h1 class="display-4">Data Monitoring</h1>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="card-link" routerLink="/aud">Audacia</a>
            <div class="float-right">
              <a class="card-link" href="http://ppd-viewer.allseas.global/aud"
                >PPD Viewer</a
              >
            </div>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/cal">Calamity Jane</a>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/lor">Lorelay</a>
            <div class="float-right">
              <a class="card-link" href="http://ppd-viewer.allseas.global/lor"
                >PPD Viewer</a
              >
            </div>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/oce">Oceanic</a>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/psc">Pioneering Spirit</a>
            <div class="float-right">
              <a class="card-link" href="http://ppd-viewer.allseas.global/psc"
                >PPD Viewer</a
              >
            </div>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/sol">Solitaire</a>
            <div class="float-right">
              <a class="card-link" href="http://ppd-viewer.allseas.global/sol"
                >PPD Viewer</a
              >
            </div>
          </li>
          <li class="list-group-item">
            <a class="card-link" routerLink="/tgm">Tog Mor</a>
            <div class="float-right">
              <a class="card-link" href="http://ppd-viewer.allseas.global/tgm"
                >PPD Viewer</a
              >
            </div>
          </li>
        </ul>
      </div>
      <div class="card mt-5">
        <div class="card-header"><h1 class="display-4">Applications</h1></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="card-link" href="http://world.allseas.global"
              >Allseas World</a
            >
          </li>
          <li class="list-group-item">
            <a class="card-link" href="http://vpm-dashboard.allseas.global"
              >VPM Dashboard</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
