<div class="modal-header">
  <h4 class="modal-title">Network switch: {{ data.SwitchName }}</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table">
    <tr>
      <th>Id</th>
      <td>{{ data.Id }}</td>
    </tr>
    <tr>
      <th>Name</th>
      <td>{{ data.SwitchName }}</td>
    </tr>
    <tr>
      <th>Supplier</th>
      <td>{{ data.Supplier }}</td>
    </tr>
    <tr>
      <th>ItemNumber</th>
      <td>{{ data.ItemNumber }}</td>
    </tr>
  </table>
</div>
