<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Global Allseas World" stopProcessing="true">
          <match url="^OverView(.*)" />
          <action type="Redirect" url="http://world.allseas.global/{R:1}" />
        </rule>
        <rule name="Global PPD" stopProcessing="true">
          <match url="^([a-zA-Z]{3})\/ppd(.*)" />
          <action type="Redirect" url="http://ppd-viewer.allseas.global/{R:1}{R:2}" />
        </rule>
        <rule name="Global VPM" stopProcessing="true">
          <match url="^ppd\/vpm(.*)" />
          <action type="Redirect" url="http://vpm-dashboard.allseas.global/{R:1}" />
        </rule>
        <rule name="Local PPD" stopProcessing="true">
          <match url="^ppd(.*)" />
          <action type="Redirect" url="http://ppd-viewer.allseas.local/{R:1}" />
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
